header {
    
}
header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
}
header ul li a {
    color: #D4A373;
    text-decoration: none;
}
body {
    background: #FAEDCD;
}
a {
    color: #D4A373;
    text-decoration: none;
}